serverless.yml
service: tilavihkutin
frameworkVersion: ">=1.32.0 <2.0.0"

provider:
  name: aws
  region: eu-west-1
  profile: heap
  runtime: python3.6

functions:
  echo:
    handler: echo.handler

stepFunctions:
  stateMachines:
    tilavihkutin:
      name: tilavihkutin
      definition:
        StartAt: Enter
        States:

          Enter:
            Type: Task
            Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-echo
            Next: Approve

          Approve:
            Type: Pass
            Result:
              approved: true
              comment: Seal of approval
            ResultPath: "$.approval"
            Next: Exit

          Exit:
            Type: Task
            Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-echo
            End: true

plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
