serverless.yml
service: tilavihkutin
frameworkVersion: ">=1.32.0 <2.0.0"

custom:
  prefix: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}

provider:
  name: aws
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  profile: heap
  runtime: python3.6

functions:
  echo:
    handler: echo.handler

stepFunctions:
  stateMachines:
    tilavihkutin:
      name: tilavihkutin
      events:
        - http:
            path: run
            method: GET
      definition:
        StartAt: Enter
        States:

          Enter:
            Type: Task
            Resource: ${self:custom.prefix}-echo
            Next: Kilpajuoksu

          Kilpajuoksu:
            Type: Parallel
            Next: Approve
            Branches:
              - StartAt: VenaaA
                States:
                  VenaaA:
                    Type: Wait
                    Seconds: 6
                    End: true
              - StartAt: VenaaB
                States:
                  VenaaB:
                    Type: Wait
                    Seconds: 3
                    End: true

          Approve:
            Type: Pass
            Result:
              approved: true
              comment: Seal of approval
            ResultPath: "$[0].approval"
            Next: PlayItAgain

          PlayItAgain:
            Type: Choice
            Choices:
              - Not:
                  Variable: $[0].approval.approved
                  BooleanEquals: false
                Next: Enter
            Default: Exit

          Exit:
            Type: Task
            Resource: ${self:custom.prefix}-echo
            End: true

resources:
  Description: Make state machines great again!

plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
